@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
	font-family: 'abadi_mt_condensed_lightRg';
	src: url('../fonts/abalc/abalc-webfont.eot');
	src: url('../fonts/abalc/abalc-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/abalc/abalc-webfont.woff') format('woff'),
	     url('../fonts/abalc/abalc-webfont.ttf') format('truetype'),
	     url('../fonts/abalc/abalc-webfont.svg#abadi_mt_condensed_lightRg') format('svg');
	font-weight: normal;
	font-style: normal;

}
.container {
	max-width: 947px;
}
* {
	font-family: 'Glyphicons Halflings','abadi_mt_condensed_lightRg' !important;
	word-spacing: -10px;
}
h1,h2,h3,h4,h5,h6 {word-spacing: -20px;}
body {
	margin: 0;
	padding: 0;
	background: url(../img/bg.png) repeat-x top left;
}
.borderLessRadius *, .borderLessRadius {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	border-radius: 0 !important;
}
.logo-search {
	margin-top: 20px;
	margin-bottom: 10px;
}
.navbar {
	font-size: 18px;
	margin-bottom: 0px;
}
.navbar li > a {
	line-height: 16px;
}
.redes-sociais {
	width: 35px;
	height: 35px;
	margin-left: 5px;
	margin-bottom: 10px;
	background: url(../img/redes-sociais.png) no-repeat;
	display: inline-block;
}
.redes-sociais.facebook {
	background-position: 0px 0px;
}
.redes-sociais.twitter {
	background-position: -48px 0px;
}
.redes-sociais.gplus {
	background-position: -94px 0px;
}
.redes-sociais.instagram {
	background-position: -140px 0px;
} 
.form-control {
	font-size: 17px;
	background-color: black;
	padding-top: 1px;
}
.form .form-control, .form .glyphicon {
	color: white;
}
.form .glyphicon-search {
	top: -25px;
	right: 15px;
	position: relative;
}
input[type="search"].form-control {
	padding-right: 35px;
}
.jumbotron.customBg, .jumbotron img {
	padding: 0;
	margin: auto;
}
.jumbotron img {
	width: 1920px;
	height: auto;
}
.jumbotron a {
	color: #444;
}
.custom-container {
	max-width: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
.jumbotron .desc {
	width: 100%;
	padding: 5px 30px 0px 30px;
	min-height: 66px;
	background-color: white;
	position: absolute;
	bottom: 37px;
	border: 1px solid #ccc;
}
.controls {
	width: 62px;
	height: 57px;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	color: #fff !important;
	background-color: #262626;
	position: absolute;
	bottom: 37px;
	cursor: pointer;
}
.controls.left {
	left: 0;
	margin-left: 110px;
}
.controls.right {
	right: 0;
}
.jumbotron .desc > h3 {
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #00529C;
}
.jumbotron .desc > p {
	word-break: break-word;
}
.jumbotron .desc > p:after {
	content: "\e080";
	font-weight: bold;
	color: #00529C;
	font-size: 13px;
}
.jumbotron a:hover .desc {
	-webkit-box-shadow: 0px 0px 15px #00529C;
	-moz-box-shadow: 0px 0px 15px #00529C;
	-ms-box-shadow: 0px 0px 15px #00529C;
	-o-box-shadow: 0px 0px 15px #00529C;
	box-shadow: 0px 0px 15px #00529C;
	-webkit-transition: 0.5s -webkit-box-shadow;
	-moz-transition: 0.5s -moz-box-shadow;
	-ms-transition: 0.5s -ms-box-shadow;
	-o-transition: 0.5s -o-box-shadow;
	transition: 0.5s box-shadow;
}
.corpo * {
	word-spacing: -15px;
}
.ouca-ao-vivo {
	margin: 0px 0px 20px 0px;
	background-color: #1A1919;
	height: 42px;
	color: #fff;
	font-size: 24px;
}
.arrow-ao-vivo {
	width: 185px;
	height: 100%;
	background-color: #55B615;
	position: absolute;
	border-radius-top-right: 20px;
}
.arrow-ao-vivo span{
    width:0;
    height:0;
    border-top: 20px;
    border-bottom: 20px;
    border-left: 20px;
    border-right: 14px;
    border-style: solid;
    border-color: transparent;
    display:block;
}
.private-content {
	font-size: 22px;
}
.private-content button {
	color: white;
	font-size: 10px;
	margin-top: 12px;
	margin-right: 20px;
}
.no-ar {
	max-height: 22px;
	padding: 1px 4px 4px 3px;
	font-size: 14px;
	word-spacing: -10px;
	border: none;
}
.no-ar.online {background-color: #55B615;}
.no-ar.offline {background-color: #FF2626;}
span.seta {
	border-top-color:#f00;
    border-left-color:#ff0;
    border-right-color:#0f0;
    border-bottom-color:#0ff;
}
span.direita{
	top: 1px;
	right: -34px;
    position: absolute;
    border-left-color:#55B615;
}
.row {
	margin-top: 20px;
}
.retangulo-conteudo  {
	padding: 15px;
	height: auto;
	background-color: #E0E0E0;
}
.retangulo-conteudo img {
	margin: auto;
}
.nav-tabs {
	border-bottom: none;
}
.nav-tabs li, .nav-tabs li a, .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:active {color: #fff;}
.nav-tabs li {
	padding-top: 0;
	margin-right: 5px;
	background-color: #DFE0E1;
	font-size: 24px;
}
.nav-tabs li a {
	margin: 0;
	padding-top: 0;
}
.nav-tabs li.active, .nav-tabs li.active a,.nav-tabs li.active a:active, .nav-tabs li.active {
	background-color: #07539E;
	border-color: #07539E;
}
.nav-tabs li.active a:hover {
	background-color: #007FFF;
}
.fotos li > img,.videos li > iframe {
	max-width: 204px;
	margin-right: 20px;
	margin-bottom: 40px;
}
.fotos li img, .videos li iframe, .videos li object {
	border: 8px solid #ccc;
}
.fotos-videos .controls {
	width: 42px;
	height: 39px;
	bottom: 0px;
	position: relative;
	display: inline-block;
}
.fotos-videos .controls.left,.fotos-videos .controls.right {
	padding-top: 7px;
	margin: 0;
}
@media (max-width: 768px) {
	.logo-search {
		margin: 20px auto;
		text-align: center;
	}
	.logo-search img {
		margin-bottom: 15px;
	}
	.form .glyphicon-search {
		top: -32px;
	}
	.form-control {
		min-height: 50px;
	}
	a.redes-sociais {
		padding: 22px;
	}
	.redes-sociais {
		margin-top: 10px;
		margin-bottom: 0px;
	}
	.ouca-ao-vivo {
		background-color: transparent;
	}
	/*.jumbotron .desc {
		left: 0;
		margin: 0;
		top: 20px;
		height: 100%;
	}*/
	.arrow-ao-vivo{
		left: 50%;
		margin-left: -92.5px;
	}
}